.dropdown-list__title {
    max-width: 133px;
    width: 100%;
    margin-left: 15px;
    margin: 0;
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14.63px;
}