@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    max-width: 1440px;
    width: 100%;
    margin: 0;
}

.content {
    max-width: 1158px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    column-gap: 106px;
}

.header__colors {
    margin-top: 30px;
    margin-left: 30px;
}

.columns {
    margin-top: 67px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    column-gap: 423px;

}

.column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}






















.title {
    font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    margin: 0;
}

.subtitle {
    font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
}







.state {
    font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    color: #1F204140;
    margin: 0;
}




















































































.dropdown-text {
    margin: 0;
    font-size: 12px;
    line-height: 14.63px;
    display: flex;
    align-items: center;
}



































































































































































































































b {
    font-size: 14px;
    line-height: 18px;
}



























































































































.page_grey {
    width: 1580px;
    background: #F4F4F6;
}







.rectangle {
    width: 159px;
    height: 40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.25;
    position: absolute;
    left: 24px;
}

.landing-center {
    position: relative;
    max-width: 1534px;
    width: 100%;
    height: 900px;
    background-image: url(../images/landing-page/landing-background.svg);
}

.card_landing {
    position: absolute;
    top: 70px;
    left: 150px;
}

.landing__state {
    position: absolute;
    width: 297px;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #1F2041BF;
    right: 160px;
    bottom: 18px;
}

.card_calendar-landing {
    position: absolute;
    top: 260px;
    left: 181px;
}

.form-field_landing {
    position: absolute;
    top: 339px;
    left: 181px;
}

.form-field_drops {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.dropdown-lists_landing {
    max-width: 320px;
    width: 100%;
    background-color: #FFFFFF;
}

.dropdown-list_landing {
    max-width: 320px;
    width: 100%;
    justify-content: space-between;
}

.search-room {
    margin-top: 30px;
    padding-left: 140px;
}

.search-content {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
}

.search-room__info {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.search-room__cards {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.search-room__card-group {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.form-field_drop {
    
}

.range-slider_search-room {
    margin: 0;
}

.checkbox-buttons_searh-room {
    margin: 0;
}

.card-image_980 {
    background-image: url(/Toxin/images/search-room/room980.svg);
}

.card-image_856 {
    background-image: url(/Toxin/images/search-room/room856.svg);
}

.card-image_740 {
    background-image: url(/Toxin/images/search-room/room740.svg);
}

.card-image_982 {
    background-image: url(/Toxin/images/search-room/room982.svg);
}

.card-image_678 {
    background-image: url(/Toxin/images/search-room/room678.svg);
}

.card-image_450 {
    background-image: url(/Toxin/images/search-room/room450.svg);
}

.card-image_350 {
    background-image: url(/Toxin/images/search-room/room350.svg);
}

.card-image_666 {
    background-image: url(/Toxin/images/search-room/room666.svg);
}

.card-image_444 {
    background-image: url(/Toxin/images/search-room/room444.svg);
}

.card-image_352 {
    background-image: url(/Toxin/images/search-room/room352.svg);
}

.pagination_search-room {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 160px;
}

.checkbox-name__title_search-room {
    margin: 0;
}

.landing-center_registration {
    height: 750px;
    background-image: url(../images/landing-page/registration.svg);
}

.card_registration {
    position: absolute;
    top: 20px;
    left: 500px;
}

.card_sign {
    position: absolute;
    top: 200px;
    left: 500px;
}

.room-images {
    margin-left: 140px;
    display: flex;
    flex-direction: row;
}

.room-image {
    max-width: 981px;
    width: 100%;
}

.room-image_2 {
    max-width: 461px;
    width: 100%;
    max-height: 243px;
    height: 100%;
    object-fit: cover;
}

.images-group {
    display: flex;
    flex-direction: column;
}

.room {
    margin-left: 140px;
    margin-top: 88px;
}

.room-info {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
}

.advantages_room {
    margin:0;
}

.advantage_room {
    border-bottom: #FFFFFF;
}

.room-statistic {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.room-diagram {
 width: 120px;
 height: 120px;
}

.room-impression__title {
    margin-bottom: 20px;
}

.bullet_room {
    margin-top: 20px;
}

.bullet-list_room {
    row-gap: 0px;
}



.bullet-list__element_yellow::before {
    background: linear-gradient(#FFE39C, #FFBA9C);
}

.bullet-list__element_green::before {
    background: linear-gradient(#6FCF97, #66D2EA);
}

.bullet-list__element_purple::before {
    background: linear-gradient(#BC9CFF, #8BA4F9);
}

.bullet-list__element_black::before {
    background: linear-gradient(#909090, #3D4975);
}

.advantages_room-review {
    margin-top: 20px;
    row-gap: 0px;
}

.room {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}

.room-review {
    margin-top: 40px;
}

.room-review__header {
    max-width: 712px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room-review__state {
    display: flex;
    align-items: end;
}

.room-conditions {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    margin-top: 40px;
}

.bullet_conditions {
    margin: 0;
}

.bullet__title_conditions {
    margin-left: 20px;
}

.bullet__title_cancel {
    margin-bottom: 16px;
}

.card_room {
    height: 512px;
}
