.bullet-list__element {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 11px;
    list-style: none;
}

.bullet-list__element::before {
    content: "";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    background-color: #1F204140;
    /* Change the color */
    font-weight: bold;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    /* Needed to add space between the bullet and the text */
}